.filterTemplateContainer{
 display: flex;
 flex-direction: column;
 background: white;
 cursor: pointer;
}
.filterTemplateContainer :active{
 background: whitesmoke;
}
.dropdown ul{
 display: none;
}
ul{
padding-top: 1rem;
 list-style-type: none;
}
.dropdown {
 position: relative;
}
.dropdown:hover ul{
 display: initial;
}