@import "../../base";
// .status{
//   display: none;
// }
.productDetailsLayout{
  padding: 1rem;
}
.swiperSlider{
  display: flex;
  gap: 5px;
  }
  .swiperSlider img{
    height: 300px;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
    }
    .swiperSlider img:hover{
      flex: 4;
    }
  .content{
    padding-top: 1rem;
  }
  .productInfoContainer{
    padding: 1rem 2rem;
  }
  .productInfoRow{
    display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  }
  .column1 {
    width: 20%;
    background: white;
    display: flex;
    flex-direction: column;
  }
  .navigationHeader{
    display: flex;
      justify-content: center;
      background: white;
      margin: 0rem 1rem;
          position: sticky;
        top: 3rem;
  }
  a{
    color: #080808;
    display: flex;
    justify-content: center;
    border: 4px solid whitesmoke;
    padding: 1rem;
    background: white;
    text-decoration: none;
  }
  .productNav{
    background: whitesmoke;
  }
  .navigationList{
    padding-top: 2rem;
    position: sticky;
    top: 3rem;
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    margin: 0rem 1rem;
  }
  .Offer{
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  .offerListIcon{
    display: flex;
    padding-bottom: 5px;
   }
   .iconImg{
     width: 20px;
     height: 20px;
     padding-right: 5px;
     margin-left: -8px;
   }
   .column2 {
    width: 50%;
    background: white;
  }
  #sec1{
    color: red;
    padding: 3rem 0;
  }
  #sec2{
    color: red;
    padding: 3rem 0;
  }
  #sec3{
    color: red;
    padding: 3rem 0;
  }
  #sec4{
    color: red;
    padding: 3rem 0;
  }
  // .section{
  //   height: auto;
  //   width: 50%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  .availableOffer{
    padding: 2px;
      margin: auto;
  }
  .availableOfferHeader{
    display: flex;
    justify-content: center;
  }
  .availableOffer ul{
    gap: 5px;
  }
  .offer{
    display: flex;
    padding-bottom: 5px;
   }
   .offerImgIcon{
    width: 20px;
    height: 20px;
    padding-right: 5px;
  }
  .offer li{
    list-style-type: none; 
  }
  .about{
    padding: 1rem .5rem;
  }
  .aboutHearder{
    display: flex;
    justify-content: center;
    }
    .aboutList{
      margin-left: 16px;
    }
    .column3{
      width: 30%;
    }
    .sellers{
      display: flex;
      justify-content: center;
      background: white;
      margin: 0rem 1rem;
      border: 4px solid whitesmoke;
          position: sticky;
        top: 3rem;
    }



@media screen and (max-width: $breakpoint-small) {
.content {
  position: fixed;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      // height: 80%;
      // border-radius: 15px;
      z-index: 4;
   

      margin-bottom: 0px;
  opacity: 1;
      transition: all .25s ease;
    }
    

.swiperSlider{
    top: 45px;
    top: 0;
    padding: .5rem;
    display: grid;
    grid-auto-flow: column;
    column-gap: .3rem;
    overflow-x: auto; 
    user-select: none;
}
.swiperSlider img{
  position: relative;
  width: 200px;
  height: 150px;
}
.productDetailsLayout{
  padding: 34px 0px;
  margin: 10px;
}
}