@import "../../base";
.cardHeader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 15px 15px 0 0;
    height: 0;
    transition: 0.5s ease;
//    &Icon{
//        display: none;
//    }
   &Followers{
    font-family: verdana;
    font-size: 1vw;
    margin-top: 25px;
    margin-left: -90px;
   }&Username{
    font-family: verdana;
    font-weight: var(--font-weight-bold);
    font-size: 1.2vw;
    margin-top: 5px;
    margin-left: -50px;
   }&DesktopView{
      display: inline-flex;
   }
}
.icons__IoIosInformation{
    display: none;
}

@media screen and (max-width: $breakpoint-medium) {
  .cardHeader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 15px 15px 0 0;
    height: 0;
    transition: 0.5s ease;
//    &Icon{
//        display: none;
//    }
   &Followers{
    font-family: verdana;
    font-size: 1.3vw;
    margin-top: 25px;
    margin-left: -117px;
   }&Username{
    font-family: verdana;
    font-weight: var(--font-weight-bold);
    font-size: 1.6vw;
    margin-top: 5px;
    margin-right: 30px;
   }&DesktopView{
      display: inline-flex;
   }
}
.icons__IoIosInformation{
    display: none;
}
}

@media screen and (max-width: $breakpoint-low-medium) {
  .cardHeader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 15px 15px 0 0;
    height: 0;
    transition: 0.5s ease;
//    &Icon{
//        display: none;
//    }
   &Followers{
    font-family: verdana;
    font-size: 1.8vw;
    margin-top: 25px;
    margin-left: -117px;
   }&Username{
    font-family: verdana;
    font-weight: var(--font-weight-bold);
    font-size: 2.2vw;
    margin-top: 5px;
    margin-right: 30px;
   }&DesktopView{
      display: inline-flex;
   }
}
.icons__IoIosInformation{
    display: none;
}
}


@media screen and (max-width: $breakpoint-small) {
    
  .cardHeader{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    height: 0;
    &DesktopView{
        display: none;
    }&Icon{
        display: block;
    }
  }
    .icons__IoIosInformation{
        display: block;
        margin-left: 80px;
        margin-top: -10px;
        }
        .nav-menu {
            
            width: 100%;
            display: flex;
            justify-content: center;
            position: fixed;
            bottom: 0;
            height: 0;
            transition: 850ms;
          }
          
          .nav-menu.active {
              width: 100%;
            height: 50%;
            transition: 350ms;
            border-radius: 15px;
          }
        
 
// .navbar-toggle {
//     background-color: #060b26;
//     width: 100%;
//     height: 80px;
//     display: flex;
//     justify-content: start;
//     align-items: center;
//   }
}
