@import "../../base";


// $input-border-color: darken($accent-color, 6.5%);
// $input-text-color: darken(adjust-hue($primary-color, -155), 23.33);
// $chat-form-top-border: darken($accent-color, 12.16);

#chat-form {
  display: flex;
  align-items: center;
  grid-area: chat-form;
  // background: $accent-color;
  border-radius: 0 0 10px 0;
  border-top: 1px solid ;
  padding-left: 42px;
  padding-right: 22px;

  input {
    flex: 1 0 0;
    outline: none;
    padding: 15px;
    border: 2px solid ;
    border-right: none;
    // color: $input-text-color;
    border-radius: 6px 0 0 6px;
    font-size: 1.4rem;
    margin-left: 15px;
  }

  button {
    height: 51px;
    flex: 0 0 90px;
    border-radius: 0 6px 6px 0;
  }
}

.mobileOverlay{
  display: none;
}

@media screen and (max-width: $breakpoint-small) {
  input::placeholder {
    font-size: 17px;
  }
//   .mobileOverlay{
//     display: flex;
//     justify-content: space-between;
    
//   }
  .itemOverlay{
    position: fixed;
    display: flex;
  flex-direction: column;
   bottom: 0;
    // left: 0;
    // right: 0;
    width: 100%;
    height: 20%;
    padding: 0 10px;
    border-radius: 15px 15px 0 0;
    z-index: 1;
 background: red;
    }
  .cardInfo{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
 
  }
  .cardInfo .cardItems{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
// padding: 10px;
margin-top: 10%;
  }
  .rating{
    font-size: 0.8rem;
   margin-top: 1px;
     }
     .description{
      font-size: 1.2rem;
       padding-left: 25px;
       padding-top: 10px;
       @include line-clamp(4)
       
     }
     .SubmitIcon{
       padding: 10px;
     }
     .addedComment{
       padding-left: 25px;
       font-size: 0.6rem;
       max-Width: 100vw;
     }
     .comment {
      display: flex;
      flex: 0.6;
      padding: 10px;
      margin: 0.8rem;
      border-radius: 3px;
      border-radius: 8px;
      // margin-top: 10px;

    

      textarea {
        width: 100%;
        border: none;
        font-weight: 500;
        padding: 0.3rem;
        // background: transparent;
    
        &:focus {
          outline: none;
        }
      }
    
      button{
        // border: none;
        padding: 0 0.2rem;
        // background: transparent;
        outline: none;
        &:focus{
            border: none
        }
      }
    }
}