@import "../../base";


// .commentHeader{
//   margin-top: 1rem;
//   padding: 1%;
//   font-size: 2em;
//   text-align: center;
//   background: white;
//   border: 1px solid whitesmoke;
// }
// .commentHeaderTitle{
//   font-size: .8em;
// }
// .commentHeaderBackIcon{
//   float: left;
// }
// .commentHeaderSendIcon{
//   float: right;
// }
// .commentBody{
//   width: 100%;
// }
// .img{
// width: 20%;
// }
   .mobileComment{
    display: none;
  }
.commentRow{
   display: flex;
      max-width: 100%;
      justify-content: space-between;
}

    .comment {
      display:flex;
      flex: 55;
  // margin-top: 1rem;
  // height: 100vh;
  text-align: center;
  background: white;
    }
     .commentHeader{
        font-size: 2em;
 
      }
      .commentSideBarSection{
        // width: 26%;
        border: 1px solid whitesmoke;
        height: 558px;
        padding: 10px;
        padding: 0.5rem;
        overflow-y: scroll;

      }
      .commentSideBarContainer{
         display: flex;
        align-items: center;
        padding: 1rem 0.5rem;
       border-bottom: 1px solid whitesmoke;
        cursor: pointer;
      }
      .commentSideBarContainerDetails{
        margin-left: 15px;
        position: relative;
        // width: 100%;
      }
      .commentSideBarContainerDetailsDate{
       position: absolute;
    top: 5px;
    left: 190px;
      }

      .commentFooter{
    display: flex;
    bottom: 0;
    width: -webkit-fill-available;
    position: fixed;
    background: white;
    align-items: center;
    // border-top: 1px solid whitesmoke;
        }
  
      .commentBody {
        width: 74%;
        height: 78vh;
        margin: .5rem;
      }
        .commentNavbar {
          height: 50px;
          box-shadow: inset 0px 0px 0 px 1px;
        }
      .SubmitIcon {
          align-items: center;
          width: 3%;
          font-weight: 200;
          border-radius: 0px 10px 10px 0px;
        }
        .textarea {
          width: 80%;
          border: none;
          font-weight: 200;
          padding: 0.3rem;
          border-radius: 10px 0px 0px 10px red;
          height: 3rem;
        }
         .textarea:focus {
            outline: none;
            // color: red;
          }
      .sendIcon{
        align-items: center;
      }
       .commentSection {
        padding: 1%;
        display: flex;
      // display: flex;
      // align-items: center;
      // position: relative;
      // width: fit-content;
      // justify-content: space-between;
      
    }

    .commentSideBar{
          width: 26%;
          height: 78vh;
    }
    .commentNote{
    // background: gray;
        padding: 1%;
    font-size: 1.1em;
    width: 46%;
    float: left;
    text-align: initial;
    // border-radius: 10px;
    // margin: 10px;
    // margin-right: auto;
    }
    .commentNoteName{
      font-weight: bold;
    }
    .commentLikeIcon{
      display: flex;
       padding-top: 1%;
    float: right;
    width: 20%;
    text-align: center;
    gap: 5px;
      // background: red;
    }
    .muted{
          padding-top: 2%;
    font-size: 0.8em;
    color: gray;
    // margin-right: 14rem;
    }
    .muted >span{
      margin-right: 2%;
    }
   .section{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
    height: 498px;
    overflow-y: scroll;
    background: #fbfbfb;
   }
   .notify{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
  //  color: green;
  //  background: red;
   border: none;
   outline: none;
   border-radius: 50%;
   }
   .number{
     position: absolute;
    right: -3px;
    top: -1px;
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    // background: red;
    // border: 3px solid white;
   }
   .notification{
    // background: whitesmoke;
    // border-radius: 50px;
    // color: green;
   }
   .commentWrap{
      display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    align-items: center;
   }
   @media screen and (max-width: $breakpoint-medium) {
    .mobileComment{
    display: none;
  }
 .commentSideBar{
          width: 26%;
          height: 58vh;
    }
    .commentSideBarContainerDetailsDate {
    position: absolute;
    top: 5px;
    left: 110px;
}
.commentSideBarContainerDetails {
    margin-left: 10px;
    position: relative;
}
.commentLikeIcon {
    display: flex;
    padding-top: 1%;
    float: right;
    width: 25%;
    text-align: center;
    gap: 5px;
}
.section {
    display: flex;
    /* flex-direction: column; */
    height: 500px;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
    overflow-y: scroll;
    background: #fbfbfb;
}
.commentSideBarSection {
    border: 1px solid whitesmoke;
    height: 570px;
    padding: 10px;
    padding: 0.5rem;
    overflow-y: scroll;
}
        }

   
   @media screen and (max-width: $breakpoint-low-medium) {
     .mobileComment{
    display: none;
  }
    .section {
    display: flex;
    /* flex-direction: column; */
     height: 500px;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
    overflow-y: scroll;
    background: #fbfbfb;
}
.commentSideBar{
  display: none;
}
.commentBody {
    width: 100%;
    height: 78vh;
    margin: 0.5rem;
}
   }

@media screen and (max-width: $breakpoint-small) {
  .mobileComment{
    display: block;
  }
.commentSideBar{
  display: none;
}
.largeScreen{
  display: none;
}
.commentSection {
    padding: 1%;
    padding-bottom: 3rem;
    // margin-top: 10%;
    display: flex;
}
.commentNote {
    padding: 1%;
    font-size: 1.1em;
    width: 80%;
    float: left;
    text-align: initial;
}
.section {
    display: flex;
    /* flex-direction: column; */
    scroll-behavior:none;
    height: 100vh;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
    overflow-y: scroll;
    background: #fbfbfb;
}
.muted {
   display: grid;
    padding-top: 2%;
    font-size: 0.8em;
    color: gray;
    justify-content: flex-start;
    align-items: center;
}
.notify {
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
}

  .commentFooter {
    display: flex;
    bottom: 0;
    width: 95%;
    height: 7%;
    position: fixed;
    background: white;
    align-items: center;
}
.mobileCommentIcons{
  display: flex;
}

}