@import "../../base";
// .status{
//   display: none;
// }
.productInfoCanvas {
  // background: red;
    position: fixed;
    width: 64%;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
    z-index: 4;
  
    &.open {
      transform: translateX(0);
      transition: transform 0.9s ease-out;
    }
}

.swiper-container {
  width: 100%;
  padding-top: 90px;
  // padding-bottom:
}

@media screen and (max-width: $breakpoint-small) {
.productInfoCanvas {
  position: fixed;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      // height: 80%;
      // border-radius: 15px;
      z-index: 4;
    &.open .content{
      margin-bottom: 0px;
  opacity: 1;
      transition: all .25s ease;
    }
    .heading{
      box-shadow: 1px -7px 2px 7px;
    }
}
.swiperContainer {
  width: 100%;
  user-select: none;
}
.swiperSlider{
    top: 45px;
    top: 0;
    padding: .5rem;
    display: grid;
    grid-auto-flow: column;
    column-gap: .3rem;
    overflow-x: auto; 
    user-select: none;
}
.swiperSlider img{
  position: relative;
  width: 200px;
  height: 150px;
}
.productDetailsLayout{
  padding: 34px 0px;
  margin: 10px;
}
}