@import "../../base";

.homeContainer{
display: block;
margin-top: 60px;
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%;
column-gap:1px;
padding: 0 12px;
user-select: none;
}
.homeContainerItems {
    position: relative;
    margin: 5px;
    &Image{
      border-radius: 15px;
    }
  }
.overlay{
    position: absolute;
     display: flex;
   flex-direction: column;
    bottom: 0;
     left: 0;
     right: 0;
    overflow: hidden;
     width: 100%;
     height: 0;
     transition: .5s ease;
     padding: 0 10px;
     border-radius: 0 0 15px 15px;
     z-index: 1;
  }
  .homeContainerItems:hover .overlay{
    height: inherit;
    opacity: 1;
  }
  .overlayText{
     margin: 5px;
    @include line-clamp(3)
}
.rating{
    size: 30px;
   margin-bottom: 5px;
     }


.homeContainerItems:hover .cardHeader{
    min-height: 50px;
    opacity: 1;  
}
.status{
  display: none;
}





@media screen and (max-width: $breakpoint-medium) {
    // .content__area  {
    //     transform: translateX(0%);
    //     transition: 0.4s ease-in-out;       

    //     &.close {
    //     transform: translateX(1%); 
    //     max-width: calc(100% - 4rem);
    //     z-index: 1;
    //     transition: transform 0.1s ease-in;
    //     margin-left: 3rem;
    //     position: fixed;
    //     }
    // }


    .homeContainer{
      webkit-column-count: 4;
      -moz-column-count:4;
      column-count: 4;
  }
   
}

@media screen and (max-width: $breakpoint-low-medium) {
  .homeContainer{
    webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}   
}

@media screen and (max-width: $breakpoint-small) {
 
  .homeContainer{
      webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }

  .homeContainerItems {
      position: relative;
    }

    .homeContainerItems:hover .cardHeader{
      min-height: 50px;
      opacity: 1;  
  }

  .overlay{
      display: none;
  }
  .status{
    display: block;
    
  }


}