@import "../../base";

.homeContainer {
  display: block;
  margin-top: 6px;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  column-gap: 1px;
  user-select: none;
}

.homeContainerItems {
  position: relative;
  margin: 3px;

  &Image {
    border-radius: 15px;
  }
}

.homeContainerItems:hover {
  transform: scale(1.019);
  cursor: pointer;
}

.homeContainerItems img {
  height: 100%;
  transition: all .25s ease;
}

.homeContainerItems .overlay {
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 0 3px;
  // height: 90px;
  
}

.homeContainerItems .overlay {
  font-size: 1rem;
  opacity: 0;
  // margin-bottom: -180px;
  // transition: all .25s ease;
  display: flex;
  // align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  transform: translateY(0%);

}

.homeContainerItems:hover .overlay {
  margin-bottom: 0px;
  opacity: 1;
  transition: transform .4s ease-in;

}
.iconP{
  display: flex;
  flex-direction: row;
  // align-items: center;
}
.numFollowers{
 font-size: 0.8rem;
}

.cardHeaderFollowers {
  font-family: verdana;
  font-size: 0.5rem;
}

.userName{
  font-family: verdana;
  font-weight: var(--font-weight-bold);
  font-size: 1.2vw;
}

.cardHeaderDesktopView {
  display: inline-flex;
}

.info {
  @include line-clamp(2)
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  z-index: 1;
  right: 0;
  overflow: hidden;
  width: 100%;

  &Text {
    margin: 5px;
    font-size: 0.7rem;
    font-weight: 1000;
    @include line-clamp(2)
  }

}

.homeContainerItems::after {
  width: 100%;
  content: '';
  left: 0px;
  right: 0;
  bottom: 0px;
  height: 100%;
  position: absolute;
  transition: all .25s ease;
  border-radius: 15px;
}
.itemStyle::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

}
.productStyle::after {
    box-shadow: 0px 0px 17px -12px;

}
// .productContainerInfo{
//     display: flex;
//     margin-left: 50px;
// }
// .productDisplayContainerInfo{
//   // margin: 0 0.6rem;
//   //   padding: 0.3rem;
//     display: flex;
//     // flex-direction: column;
//     gap: 0.3rem; 
//     // align-items: center;
// }
.sellerIcon{
  margin-bottom: -2px;
}


.rating {
  font-size: small;
  margin-bottom: 5px;
  padding-left: 5px;
}



.videoIcon {
  display: none;
}
.mobileIcon{
  display: none;
}


@media screen and (max-width: $breakpoint-medium) {

  .homeContainer {
    display: block;
    webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

.homeContainerItems img {
  height: 100%;
  transition: all .25s ease;
}

.homeContainerItems .overlay {
  position: absolute;
  bottom: 10px;
  color: #fff;
  padding: 0 3px;
}

.homeContainerItems .overlay .info {
  font-size: 1rem;
  opacity: 0;
  margin-bottom: -60px;
  transition: all .25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.homeContainerItems:hover .overlay .info {
  margin-bottom: 0px;
  opacity: 1;
}

.cardHeaderFollowers {
  font-family: verdana;
  font-size: 1vw;
  margin-top: 25px;
  margin-left: -117px;
}

.cardHeaderUsername {
  font-family: verdana;
  font-weight: var(--font-weight-bold);
  font-size: 1.2vw;
}

.cardHeaderDesktopView {
  display: inline-flex;
}
}

@media screen and (max-width: $breakpoint-low-medium) {
  .homeContainer {
    display: block;
    webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .homeContainer {
  display: block; 
    webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0.7rem;
  }

  .homeContainerItems {
    position: relative;
  }

  .homeContainerItems:hover .cardHeader {
    display: none;
  }

  .cardHeaderDesktopView {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
  }

  .profilePic {
    display: block;
  }
  .info{
    display: none;
  }

  .rating{
    display: none;
  }

  .overlayText {
    display: none;
  }
  .productContainerInfo{
    margin: 0 0.6rem;
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem; 
      // align-items: center;
  }
  .sellerIcon{
    margin-bottom: -2px;
  }

  .cardHeaderFollowers {
    display: none;
  }

  .videoIcon {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    transition: .5s ease;

  }

  .homeContainerItems:hover .videoIcon {
    height: inherit;
    opacity: 1;
  }
  .userName{
    font-family: verdana;
    font-weight: var(--font-weight-bold);
    font-size: 0.7rem;
    font-weight: 1000;
  }

  .playIcon {
    color: blue;
    border: 1px solid green;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .id{
    display: block;
    margin-left: -34px;
  }
  .mobileIcon{
    display: block;
    color: white;
    margin: auto;
  }

}