@import "../../base";

.footer {
  display: none
}

@media screen and (max-width: $breakpoint-small) {
  .profileImage {
    @include profileImage(0, 40px, 40px)
  }
  .footer__icons {
    // display: 0.15;
    display: flex;
    position: fixed;

    bottom: 0;
    width: 100%;
    height: 50px;
    overflow-x: auto;
    justify-content: space-evenly;
    align-items: center;
    // padding: 5px 0
    &__basket {
      padding: 5px;
      border-radius: 50%;
    }

    &__left, &__right {
      display: flex;
      justify-content: space-around;
      align-items: center
    }
  }
} ;
