.item_card{
/* padding-left: 20px;
padding-right: 20px; */
}
.items{
display: block;
flex-direction: column;
padding: 5px;
background-color: white;
}
.items > img {
    display: block;
width: 100%;
border-radius: 15px;
}
